<div class="container-fluid album-edit" style="background-color:white;padding:20px;" *ngIf="album$ | async as album">
  <div class="row" style="margin-top: 20px;">
    <div class="col-3 pull-right">
      <span class="pull-right">Cover Image:</span> <br>
      <input type='file' style="display: none" id="imgId" />
      <label for="imgId" class="btn pull-right row"style="color:#95933D;padding-right:15px;padding-bottom:0px;">Change Image</label>
    </div>
    <div class="col-4 img-ul-image pull-left" [ngStyle]="{'background-image': 'url('+ album.defaultImageUrl +')'}">
    </div>
  </div>

  <br>

  <form>
    <div class="form-group row text-right">
      <label for="inputEmail3" class="col-sm-3 col-form-label">Album Name: </label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="albumName" name="albumName" [(ngModel)]="album.name" placeholder="Add album name">
      </div>
    </div>
    <div class="form-group row text-right">
      <label for="inputPassword3" class="col-sm-3 col-form-label">Description: </label>
      <div class="col-sm-9">
        <textarea type="text" class="form-control" id="albumDesc" name="albumDesc" [(ngModel)]="album.description" placeholder="Add album description"></textarea>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-6 text-right">
        <button type="button" class="btn btn-primary" (click)="onSubmit(album.albumId, album.name, album.description)">Submit</button>
      </div>
      <div class="col-sm-6 text-left">
        <button type="button" class="btn btn-secondary" (click)="onCancel()">Cancel</button>
      </div>
    </div>
  </form>

</div>