.container-checkbox {
  // margin: 0 auto;
  margin-left: 5px;
  margin-top: 5px;
}

.image-option {
  cursor: pointer;
  position: relative;
  height: 40%;
  top: 50%;
  z-index: 75;
  transform: translateY(-50%);
}

.card:hover .options{
  background-color: black;
  position: absolute;
  bottom: 0;
  opacity: 1;
  z-index: 50;
  transition: .5s ease;
}

.card-body {
  border: none;
}