<div class="card box" style="text-align:center;border:1px solid lightgrey;margin-bottom: 10px;">
  <div>{{file.file.name}}</div>
  <input type="text" style="width:100%" [(ngModel)]="imageName" class="bottom-card-border" placeholder="Enter photo name" (input)="updateForm()">
  <img style="height:150px;" [src]="file.src" alt="Card image cap">

  <textarea [(ngModel)]="imageDescription" style="resize: none;" rows="4" cols="50" placeholder="Write description" (input)="updateForm()">
  </textarea>
  <span>&nbsp;Add coordinates</span>

  <div class="input-group">
    <input type="text" [(ngModel)]="latitude" class="form-control" placeholder="Latitude" (input)="updateForm()">
    <span class="input-group-addon">&nbsp;&nbsp;</span>
    <input type="text" [(ngModel)]="longitude" class="form-control" placeholder="Longitude" (input)="updateForm()">
  </div>
  <textarea [(ngModel)]="safetyWarning" style="resize: none;" rows="4" cols="50" placeholder="Write safety warning"></textarea>
</div>