<!-- <form>
  <div class="form-group">
    <label for="firstName">First Name</label>
    <input id="firstName" type="text" class="form-control" />
  </div>
  <div class="form-group">
    <label for="comment">Comment</label>
    <input id="comment" cols="30" rows="10" type="text" class="form-control" />
  </div>
  <button class="btn btn-primary">Submit</button>
</form> -->


<!-- <div class="card" style="width: 20rem;">
  <img class="card-img-top" [src]="file.src" alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title">Card title</h4>
    <input type="text" [(ngModel)]="imageName" class="bottom-card-border" (keyup.enter)="showFile()" placeholder="Enter photo name" />
    <p class="card-text">Some quick example text.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div> -->

<div class="images-container" style="background-color:white;padding:10px;">
  <div class="box" style="text-align:center;display:inline-block;padding-left:30px;">
    <div class="card" style="width: 15rem;border:none;">
      <input type="text" [(ngModel)]="imageName" class="bottom-card-border" placeholder="Enter photo name" (keyup.enter)="showFile()">

      <!-- <div class="img-ul-image" style="background-color:#F5F5F5;width:100%;margin:0px;border-left:1px solid grey;border-right:1px solid grey;"
        [ngStyle]="{'background-image': 'url('+ file.src +')'}">
      </div> -->
      <div style="text-align:center;display:inline-block;padding-left:30px;">
        <img style="height:150px;" [src]="file.src" alt="Card image cap">
      </div>
      <textarea class="bottom-card-border" style="resize: none;" rows="4" cols="50" placeholder="Describe" [(ngModel)]="imageDescription"></textarea>
      <div class="location bottom-card-border" style="text-align:left;background-color:#F5F5F5;border-left:1px solid grey;border-right:1px solid grey;">
        &nbsp;Add coordinates
        <div class="row form-input">
          <div class="col-sm-5 location" style="margin:0px 0px 5px 5px;padding-right:0px;">
            <input type="text" class="form-control" placeholder="Latitude">
          </div>
          <div class="col-sm-5 location" style="margin:0px 5px 0px 5px;padding-right:0px;">
            <input type="text" class="form-control" placeholder="Longitude">
          </div>
        </div>
      </div>
      <textarea class="bottom-card-border" style="resize: none;" rows="4" cols="50" placeholder="Write Safety Warning"></textarea>
    </div>
  </div>
</div>
