input,
input::-webkit-input-placeholder {
    font-size: 15px;
    // line-height: 3;
}
div {
    color: #9B9B9B;
}

span, .box {
    text-align:left;
    border:1px solid #D0D0D0;
    background-color: rgb(243, 243, 243);
}