<nav class="navbar navbar-expand-lg fixed-top">
	<a class="navbar-brand" href="#">
		<img class="img-responsive" src="assets/images/logo@3x.png" alt="app-logo" height="33px" width="122px">
	</a>
	 <button class="navbar-toggler" type="button" (click)="toggleSidebar()">
        <!-- <span class="navbar-toggler-icon"></span> -->
        <i class="fa fa-bars text-muted" aria-hidden="true"></i>
    </button>
	<div class="collapse navbar-collapse">
		<form class="form-inline my-2 my-lg-0" (submit)="onEnterSearch()">
			<!-- <input class="form-control mr-sm-2" type="text" placeholder="{{ 'Search' | translate }}"> -->
			<input class="form-control mr-sm-2" type="text" name="search" [(ngModel)]="searchParam" placeholder="&#xF002; Search" style="font-family:Arial, FontAwesome; background-color: rgba(216,216,216,0.55);width: 366px;">
		</form>
		<ul class="navbar-nav ml-auto">
			<li class="nav-item dropdown" ngbDropdown>
				<a class="nav-link" href="javascript:void(0)" ngbDropdownToggle>
					<img class="img-responsive header-list-icon" src="assets/images/create-new-group@2x.png" alt="app-logo" height="30px" width="30px">
					<!-- <b class="caret"></b> -->
				</a>
				<div class="dropdown-menu" ngbDropdownMenu>
					<b class="dropdown-header">CREATE:</b>
					<a class="dropdown-item" (click)="navigateToNewMapRegion()">
						Map Region
					</a>
					<a class="dropdown-item" (click)="navigateToNewAlbum()">
						Album
					</a>
				</div>
			</li>
			<li class="nav-item dropdown" ngbDropdown>
				<a class="nav-link" href="javascript:void(0)">
					<img class="img-responsive header-list-icon" src="assets/images/notification@2x.png" alt="app-logo" height="30px" width="30px">
				</a>
			</li>
			
			<li class="nav-item dropdown dropdown-menu-right" ngbDropdown>
				<a href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
					<img class="img-responsive header-list-icon" src="assets/images/account@2x.png" alt="app-logo" height="25px" width="25px">
					<span *ngIf="fullName">{{ fullName }}</span>
				</a>
				<div class="dropdown-menu" ngbDropdownMenu>
					<a class="dropdown-item" href="javascript:void(0)">
						<i class="fa fa-fw fa-user"></i> Profile
					</a>
				
					<a class="dropdown-item" href="javascript:void(0)">
						<i class="fa fa-fw fa-gear"></i> Settings
					</a>
					<a class="dropdown-item" [routerLink]="['/login']" (click)="onLoggedout()">
						<i class="fa fa-fw fa-power-off"></i> Log Out
					</a>
				</div>
			</li>
		</ul>
	</div>
</nav>