<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <h2 class="text-left">All Photos</h2>
    </div>
    <div class="col-sm-6">
      <h4 class="text-right">
        <a class="upload_new_photos" [routerLink]="['uploadphoto']">Upload New Photos&nbsp;
          <img src="assets/images/UPLOAD BOTTON@2x.png" style="width:30px;margin:auto;">
        </a>
      </h4>
    </div>
  </div>
  <div class="images-container" style="background-color:white;padding:10px;">
    <div class ="row">
      <div class="col-sm-10">
    <h4 class="text-left">{{ count }} Photos</h4>
    </div>
    <div >
        <select class="right"style="outline: none;background-color:white;">
            <option value="most_recent"><h4>Most Recent</h4></option>
            <option value="Only_geolocation"><h4>Only geolocation</h4></option>
          </select>
          <i class="fa fa-angle-down"></i>
    </div>
   </div>
    <div class="row">
      <ng-container *ngFor="let image of images; let i = index">
        <div class="col" style="padding-left:10px;">
          <!-- <a [routerLink]="['/all-photos/details', image.imageId]"> -->
            <div class="card card-columns" >
              <img class="card-img-top" [src]="image.url" height="150px" onerror="this.src='http://via.placeholder.com/300x200'" alt="Card image cap"> 
              
              <div class ="options "style="padding:5px;position:absolut;margin:0px -15px;bottom:0;text-align:center;">
                <img class="image-option" src="assets/images/edit@2x.png" (click)="viewDetails(image.imageId)" style="margin:5px ;height:20px;">
                <img class="image-option" src="assets/images/delete@3x.png"(click)="deletefile()" style="margin:5px ;height:20px;">
              </div>
              <div class="overlay">
                <div class="container-checkbox">
                  <div class="round">
                    <input type="checkbox" id="checkbox" />
                    <label for="checkbox"></label>
                  </div>
                </div> 

                <div class="text">
                    <div *ngIf="image.region">
                      <span><i class="fa fa-map-marker" style="font-size:20px;color:orange"></i>&nbsp;{{ image.region.name }}</span>
                    </div>
                  <br>
                  <p style="font-size: 10px">{{ image.createdDate | date: 'MMMM.dd.yyyy'}}</p>
                </div>
              </div>
            </div>
          <!-- </a> -->
        </div>
        <div *ngIf="(i + 1) % 5 === 0" class="w-100"></div>
      </ng-container>
    </div>
  </div>
</div>