<div class="container-fluid" style="padding-bottom: 20px;">
  <div class="row size" *ngIf="album$ | async as album">
    <div class="col-3 img-ul-image" [ngStyle]="{'background-image': 'url('+ album.defaultImageUrl +')'}">
    </div>
    <div class="col-7">
      <span>{{ album.name ? album.name : "N/A" }}
        <button class="option" [routerLink]="['/albums/edit', album.albumId]">Edit Profile</button>
      </span>
      <br>
      <br> Description: {{ album.description ? album.description : "N/A" }}
    </div>
    <div class="col-2">
      <button class="option">Public</button>
    </div>
  </div>
</div>

<div class="container-fluid" style="background-color:white;">
  <div class="row" style="padding:20px">
    <div class="col">
      <h5 class="text-left">{{ (images$ | async)?.length }} Photos</h5>
    </div>
  </div>

  <div class="row">
    <ng-container *ngFor="let image of images$ | async; let i = index">
      <div class="col col-lg-3">
        <!-- <a [routerLink]="['/all-photos/details', image.imageId]">
          <div class="card card-columns">
            <img class="card-img-top" [src]="image.url" height="150px" onerror="this.src='http://via.placeholder.com/300x200'" alt="Card image cap">
            <div class="overlay">
              <div class="text">
                <div *ngIf="image.region">
                  <span>
                    <i class="fa fa-map-marker" style="font-size:20px;color:orange"></i>&nbsp;{{ image.region.name }}</span>
                </div>
                <br>
                <p style="font-size: 10px">{{ image.createdDate | date: 'MMMM.dd.yyyy'}}</p>
              </div>
            </div>
          </div>
        </a> -->

        <select-image [image]="image" (selectedImage)="addToSelectedList($event)">
        </select-image>
      </div>
      <!-- <div *ngIf="(i + 1) % 4 === 0" class="w-100"></div> -->
    </ng-container>

    <image-actions *ngIf="selectedImagesId.length != 0"></image-actions>
  </div>
</div>