<div class="container-fluid">
  <div class="row">
    <div class="col-6">
      <h4 class="text-left">
        User Data
      </h4>
    </div>
  </div>
  <div class="container">
    <h5> Times of app been Downloaded</h5>
    <div class="row">
      <div class="col-4">
        <h2>Total as of today</h2>
        <h1>{{appDownloadCounts.todayCounts}}</h1>
      </div>
      <div class="col-4">
        <h2>This Month</h2>
        <h1>{{appDownloadCounts.thisMonthCounts}}</h1>
      </div>
      <div class="col-4">
        <h2>Last Month</h2>
        <h1>{{appDownloadCounts.lastMonthCounts}}</h1>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row middle">
      <div class="col-6 bisector-right">
        <h5>No. of Maps Downloaded as of Today</h5>
        <h1>{{mapDownloadCounts.todayCounts}}</h1>
      </div>
      <div class="col-6 bisector-left">
        <h5>No. of People Who Downloaded all Map</h5>
        <h1>{{mapDownloadCounts.totalCounts}}</h1>
      </div>
    </div>
  </div>
  <div class="container">
    <h5>No. of shares</h5>
    <div class="row">
      <div class="col-3">
        <h2>Total As of Today</h2>
        <h1>{{shareStats.todayCounts}}</h1>
      </div>
      <div class="col-3">
        <h2>On Facebook</h2>
        <h1>{{shareStats.facebook}}</h1>
      </div>
      <div class="col-3">
        <h2>On Instagram</h2>
        <h1>{{shareStats.instagram}}</h1>
      </div>
      <div class="col-3">
        <h2>In App</h2>
        <h1>{{shareStats.community}}</h1>
      </div>
    </div>
  </div>
</div>