<div *ngIf="!press">

  <div fileDrop [accept]="supportedExtensions" (fileOver)="onFileOver($event)" (fileDrop)="onFileChange($event)" [ngClass]="cssClass"
    [ngClass]="{'img-ul-file-is-over': fileOver}" [ngStyle]="style?.layout" style="padding:100px;text-align:center;">
    <div *ngIf="uploadBox" class="img-ul-file-upload img-ul-hr-inline-group">
      <div class="w-100" style="text-align:center;padding-bottom:10px;">
        <img src="assets/images/upload@2x.png" style="width:150px;margin:auto;">
      </div>

      <label *ngIf="fileCounter != max" style="text-align:center;" class="img-ul-upload img-ul-button" [ngStyle]="style?.selectButton"
        [ngClass]="{'img-ul-disabled': disabled}">
        <span [innerText]="buttonCaption"></span>
        <input type="file" [disabled]="disabled" [accept]="supportedExtensions" multiple (change)="onFileChange(input.files)" #input>
      </label>

      <button *ngIf="fileCounter > 0" [disabled]="disabled" class="img-ul-clear img-ul-button" (click)="deleteAll()" [ngStyle]="style?.clearButton"
        [innerText]="clearButtonCaption">
      </button>
      <br>

      <div class="img-ul-drag-box-msg">
        <span>Select one or more files from your computer</span>
        <br>
        <span>or drag and drop them here</span>
      </div>

    </div>

    <p class="img-ul-file-too-large" *ngIf="showFileTooLargeMessage" [innerText]="fileTooLargeMessage"></p>

    <div *ngIf="preview" class="img-ul-container img-ul-hr-inline-group" [ngStyle]="style?.previewPanel">

      <div *ngIf="!press">
        <div class="img-ul-image" *ngFor="let file of files" [ngStyle]="{'background-image': 'url('+ file.src +')'}">
          <div *ngIf="file.pending" class="img-ul-loading-overlay">
            <div class="img-ul-spinning-circle"></div>
          </div>
          <div *ngIf="!file.pending" [ngClass]="{'img-ul-disabled': disabled}" class="img-ul-x-mark" (click)="deleteFile(file)">
            <span class="img-ul-close"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="press">
  <div *ngIf="!presssubmit">
    <div class="row">
      <div class="col-md-3" *ngFor="let file of files; let i = index">
        <app-upload-form [childMessage]="parentMessage" [file]="file" (onInputUpdate)="updateInput($event)">
        </app-upload-form>
        <div *ngIf="(i + 1) % 4 === 0" class="w-100"></div>
      </div>
    </div>

  </div>
</div>
<div *ngIf=press>
  <div *ngIf="presssubmit">
    <div *ngIf="preview" class="img-ul-container img-ul-hr-inline-group" [ngStyle]="style?.previewPanel">
      <div class="images-container" style="background-color:white;padding:10px;">
        {{ this.uploadFileHolders.length }} photos uploaded
        <div class="box" *ngFor="let file of files" style="text-align:center;display:inline-block;padding-left:30px;">
          <div class="img-ul-image" [ngStyle]="{'background-image': 'url('+ file.src +')'}">
          </div>
        </div>
        <br><br><br><br><br><br>
        <div class="row">
          <div class="text-right col-sm-6">
            <button class="submit-button col-sm-10" (click)="addto()">"Add to album/map-region"</button>
          </div>
          <div class="text-left col-sm-6" style="padding-left:50px;">
            <button class="cancel-button col-sm-10" (click)="checkin()">"Check-in All-pohtos</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

