<div class="container-fluid" [@routerTransition]>
  <div class="row">
    <div class="col-sm-6">
      <h2 class="text-left">Map Regions Overview</h2>
    </div>
  </div>
  <div class="row">
    <ng-container *ngFor="let region of regions; let i = index">
      <div class="col-4" style="padding-left:30px;">
        <!-- Rounded switch -->
        <label class="switch">
            <input type="checkbox" [checked]="!regionIsPublicMap[region.regionId]" (change)="toggleSwitch(region)">
            <span class="slider round"></span>
        </label>  
        <a class="class" [routerLink]="['/map-regions/map-detail',region.regionId]">
          <div class="card card-columns">
            <img class="card-img-top" [src]="region.defaultImageUrl" height="300px" onerror="this.src='http://via.placeholder.com/300x200'"
              alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">{{ region.name }}</h4>
              <p class="card-text">{{ region.imagesCount }} photos </p>
            </div>
            <div class="overlay">
              <div class="delete-icon" (click)="deleteRegion(region.regionId)">
                <img class="card-img-top" src="assets/images/delete@3x.png">
              </div>
            </div>
          </div>
        </a>
      </div>
      <div *ngIf="(i + 1) % 3 === 0" class="w-100"></div>
    </ng-container>
  </div>
</div>