.navbar{
    background-color: white;
}
.dropdown-menu-community {
    display: block;
    width: 150px;
    position: absolute;
    background: #fff;
    border: 1px solid #ccc;
    top: 60px;
    right: 0px;
}