<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <h2 class="text-left">Upload</h2>
    </div>
    <div *ngIf="submitted" class="col-sm-6" >
      <h2 class="text-left">Uploaded</h2>
    </div>
    <div *ngIf="!uploadBox" class="col-sm-6">
      <div *ngIf="!next">
        <h4 (click)="mynext()" class="text-right" style="cursor: pointer;">Next&nbsp;
          <i class="fa fa-arrow-right"></i>
        </h4>
      </div>
    </div>
    <div *ngIf="showsubmit" class="col">
      <div>
        <h4 class="text-right" (click)="submitnext()" style="cursor: pointer;">Submit&nbsp;
          <i class="fa fa-arrow-right"></i>
        </h4>
      </div>
    </div>
  </div>

  <image-upload 
    [presssubmit]="presssubmit" 
    [press]="press" 
    [userUploadedFile]="files" 
    [max]="100" 
    [buttonCaption]="'Upload'"
    [dropBoxMessage]="'Select one or more files from your computer or drag and drop them here'"
    [extensions]="['jpg','png','gif']"
    (removed)="onRemoved($event)"
    (uploadFinished)="onUploadFinished($event)"
    (uploadStateChanged)="onUploadStateChanged($event)">
  </image-upload>

</div>

<!-- <div class="container">
  <div class="row">
    <div class="col-sm-6">
      <h2 class="text-left">Upload</h2>
    </div>
    <div class="col-sm-6">
      <h4 class="text-right">Next&nbsp;
        <i class="fa fa-arrow-right"></i>
      </h4>
    </div>
  </div>
  <div class="box" style="padding:20px;background-color:white;text-align:center;">
    <div style="border:1px dashed  black;">

      <div class="w-100" style="text-align:center; padding-top:100px;">
        <img src="assets/images/upload@2x.png" style="width:150px;margin:auto;">
      </div>
      <div class="w-100" style="text-align:center; padding-top:50px;">
        <label for="file-upload" class="custom-file-upload">
          Upload
        </label>
        <input id="file-upload" type="file" multiple/>
        <div id="result"></div>
      </div>
      <div id="result" class="w-100" style="text-align:center;padding-top:20px;padding-bottom:100px;">
        <span style="margin:auto;"> select one or more files from computer
          <br> or drag and drop them here</span>
      </div>
    </div>

  </div>
</div> -->