<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <h2 class="text-left">Upload</h2>
    </div>
    <div *ngIf="submitted" class="col-sm-6" >
      <h2 class="text-left">Uploading...</h2><br>
    </div>
    <div *ngIf="!uploadBox" class="col-sm-6">
      <div *ngIf="!next">
        <h4 (click)="mynext()" class="text-right" style="cursor: pointer;">Next&nbsp;
          <i class="fa fa-arrow-right"></i>
        </h4>
      </div>
    </div>
    <div *ngIf="showsubmit" class="col">
      <div>
        <h4 class="text-right" (click)="submitnext()" style="cursor: pointer;">Submit&nbsp;
          <i class="fa fa-arrow-right"></i>
        </h4>
      </div>
    </div>
  </div>

  <image-upload 
    [presssubmit]="presssubmit" 
    [press]="press" 
    [userUploadedFile]="files" 
    [max]="100" 
    [buttonCaption]="'Upload'"
    [dropBoxMessage]="'Select one or more files from your computer or drag and drop them here'"
    [extensions]="['jpeg','png','gif']"
    (removed)="onRemoved($event)"
    (uploadFinished)="onUploadFinished($event)"
    (uploadStateChanged)="onUploadStateChanged($event)">
  </image-upload>

</div>
