
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
        <h2 class="text-left">Edit photo details </h2>
        </div>
        <div class="col-sm-6">
            <h4 class="text-right">Next&nbsp;
              <i class="fa fa-arrow-right"></i>
            </h4>
            </div>
          </div>

          
        
        <div class="box" style="padding:20px;background-color:white;text-align:center;">
            <div class="card" style="width: 15rem;">
              <input type="text" class="bottom-card-border" placeholder="Enter photo name">
                <img class="card-img-top" src="assets/images/slider1.jpg" alt="Card image cap">
                
                <textarea class="bottom-card-border"  rows="4" cols="50" placeholder="Describe"></textarea>
                  <div class="location  bottom-card-border" style="text-align:left;background-color:lightgrey;">
                  Add coordinates
                  <div class="row form-input">
                      <div class="col-sm-6 location">
                          <input type="text" class="form-control" placeholder="">
                      </div>
                      <div class="col-sm-6 location">
                          <input type="text" class="form-control" placeholder="">
                      </div>
                    </div>
                   
                  </div>
                  <textarea class="bottom-card-border" rows="4" cols="50" placeholder="Write Safety Warning"></textarea>
              </div>
          </div>
      </div>