<br><br><br><br>
<div class="container-fluid">
  <div class="row"style="color:grey">
    <div class="col-md-6 col-sm-12">
      <h2 class="text-left">Community Photos</h2>
    </div>
    <!-- <div class="col-md-6 col-sm-12">
      <h2 class="text-right">Most Recent</h2>
    </div> -->
  </div>
</div>
<br>
<div class="posts-container">
  <div class="row">
    <ng-container *ngFor="let post of posts; let i = index">
      <!-- <div > -->
      <div *ngIf="!post.isFlagged" class="col-4 imageHolderWrap" >
        <!-- <div class="card card-columns"(mouseover)='getcomment(post.postId,false)' (click)='getcomment(post.postId,content)'> -->
        <div class="card card-columns" style="height:300px;display: flex;align-items: center;justify-content: center;" (mouseover)='getLikesOnHoverByPostId(post.postId)' (click)='getcomment(post.postId)'>
          <img class="card-img-top" *ngIf="post.communityImage.waterMarkedUrl != ''" [src]="post.communityImage.waterMarkedUrl" onerror="this.src='http://via.placeholder.com/300x200'">
          <img class="card-img-top" *ngIf="post.communityImage.waterMarkedUrl == '' && post.communityImage.croppedUrl != ''" [src]="post.communityImage.croppedUrl" onerror="this.src='http://via.placeholder.com/300x200'">
          <img class="card-img-top" *ngIf="post.communityImage.waterMarkedUrl == '' && post.communityImage.croppedUrl == ''" [src]="post.communityImage.url" onerror="this.src='http://via.placeholder.com/300x200'">

          <div class="overlay" >
            <div  class="heart-liked "(click)="like(post.postId)">
              <i  class="fa" [class.fa-heart-o]="!postLikedMap[post.postId]" [class.fa-heart]="postLikedMap[post.postId]"  aria-hidden="true">&nbsp;{{likesCount}}</i>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
<div *ngIf="showImageDetails">
  <div class="commentModalWrap">
    <div class="modal-body commentModal" >
      <div class="row">
        <div class="col-7 img-container" style="height:430px;display: flex;align-items: center;justify-content: center;">
          <img class="card-img-top"  *ngIf="postdetails.communityImage.waterMarkedUrl != ''" [src]="postdetails.communityImage.waterMarkedUrl"  onerror="this.src='assets/images/default.png'">
        <img class="card-img-top" *ngIf="postdetails.communityImage.waterMarkedUrl == '' && postdetails.communityImage.croppedUrl != ''" [src]="postdetails.communityImage.croppedUrl"  onerror="this.src='assets/images/default.png'">
        <img class="card-img-top" *ngIf="postdetails.communityImage.waterMarkedUrl == '' && postdetails.communityImage.croppedUrl == ''" [src]="postdetails.communityImage.url" onerror="this.src='assets/images/default.png'">
        </div>
        <div class="col-5 comment-container">
        <div class="row">
          <div class="col-2 imgWrap">
           <img class="circ" [src]="postdetails.profileImageUrl" onerror="this.src='assets/images/default.png'">
          </div>
          <div class="col-10 name_regionName">
           <p class="postDetailsName">{{postdetails.name}}</p>
           <p class="postDetailsRegion">{{postdetails.regionName}}</p>
          </div>
        </div>
       <br>
        <div class="row postDetails">
          {{postdetails.content}}
        </div>
        <br>
        <div class="row iconsRow">
          <i class="col-sm-3 fa" (click)="like(postdetails.postId)" [class.fa-heart-o]="!isLiked" [class.fa-heart]="isLiked"  aria-hidden="true">&nbsp;{{likesCount}}</i>
         
         
          <i class="col-sm-3 fa fa-comment-o" aria-hidden="true" >&nbsp;{{postdetails.commentsCount}}</i>
          
          <i class="col-sm-3 fa fa-share" aria-hidden="true">&nbsp;</i>

          <i class="col-sm-3 fa" (click)="flag()" [class.fa-flag-o]="!isFlagged" [class.fa-flag]="isFlagged" aria-hidden="true"></i>
         
        </div>
        <hr>
        <div class="comments_SectionWrap">
          <div class="row commentRow" *ngFor="let comment of comments;">
              <div class="col-sm-2 imgWrap">
                  <img class="circ"[src]="comment.profileImageUrl" onerror="this.src='assets/images/default.png'">
              </div>
              <div class="col-sm-10 comment_name_content">
                 <p class="modal_commentName">{{comment.name}}</p>
                 <p class="modal_commentContent">{{comment.content}}</p>
              </div>
          </div>
        </div>
       <div class="row commentSection">
        <hr class="bottomHr">
        <div class="row inner_commentSection">
          <textarea class="commentsTextArea col-sm-10" name="albumDesc" [(ngModel)]="AddComment" placeholder="Write a comment..."></textarea>
          <span (click)="submit(AddComment);" class="sendSpan col-sm-2">Send</span>
        </div>
       </div>
     </div>
    </div>
  </div>
  </div>
      <div class="commentModal-backdrop" (click)="closeCommentModal()"  *ngIf="showImageDetails">  </div>
</div>
