<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <div class="list-group">
        <!-- <a [routerLink]="['/blank-page']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-file-o"></i>&nbsp;{{ 'Blank Page' | translate }}
        </a> -->
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('map-regions')">
                <span>
                    <img class="img-responsive" src="assets/images/map@2x.png" alt="app-logo" height="20px" width="20px">{{ 'Map Regions' | translate }}
                </span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'map-regions'">
                <ul class="submenu">
                    <li>
                        <a [routerLink]="['/map-regions']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <span>{{ 'Map Regions' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/map-regions/products']" class="list-group-item">
                            <span>{{ 'Products' | translate }}</span>
                        </a>
                    </li>
                </ul>
            </li>  
        </div>
        <div class="nested-menu">
                <a class="list-group-item" (click)="addExpandClass('albums')">
                    <span>
                        <img class="img-responsive" src="assets/images/album@2x.png" alt="app-logo" height="20px" width="20px">{{ 'Albums' | translate }}
                    </span>
                </a>
                <li class="nested" [class.expand]="showMenu === 'albums'">
                    <ul class="submenu">
                        <li>
                            <a [routerLink]="['/albums']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                                <span>{{ 'Albums' | translate }}</span>
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/albums/products']" class="list-group-item">
                                <span>{{ 'Products' | translate }}</span>
                            </a>
                        </li>
                    </ul>
                </li>  
            </div>                  
        <!-- <a [routerLink]="['/albums']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <img class="img-responsive" src="assets/images/album@2x.png" alt="app-logo" height="20px" width="20px">&nbsp;{{ 'Albums'|translate }}
        </a>-->
        <a [routerLink]="['/all-photos']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <img class="img-responsive" src="assets/images/all-photos-icon@2x.png" alt="app-logo" height="20px" width="20px">&nbsp;{{ 'All Photos' | translate }}
        </a>
        <!-- <a [routerLink]="['/report']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <img class="img-responsive" src="assets/images/report@2x.png" alt="app-logo" height="20px" width="20px">&nbsp;{{ 'Report' | translate }}
        </a> -->
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('report')">
                <span>
                    <img class="img-responsive" src="assets/images/report@2x.png" alt="app-logo" height="20px" width="20px">&nbsp; {{ 'Report' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'report'">
                <ul class="submenu">
                    <li>
                        <a [routerLink]="['/report']" class="list-group-item">
                            <span>{{ 'Current' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/report/archived']" class="list-group-item">
                            <span>{{ 'Archived' | translate }}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>
        <!-- <a [routerLink]="['/Settings']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <img class="img-responsive" src="assets/images/Settings@2x.png" alt="app-logo" height="20px" width="20px">&nbsp;{{ 'Settings' | translate }}
        </a> -->
        <a [routerLink]="['/user-data']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <img class="img-responsive" src="assets/images/Data@2x.png" alt="app-logo" height="20px" width="20px">&nbsp;{{ 'User-data' | translate }}
        </a>
        <a [routerLink]="['/userconsent']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <img class="img-responsive" src="assets/images/Data@2x.png" alt="app-logo" height="20px" width="20px">&nbsp;{{ 'User Consent' | translate }}
        </a>
        <!-- <a [routerLink]="['/products']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <img class="img-responsive" src="assets/images/Data@2x.png" alt="app-logo" height="20px" width="20px">&nbsp;{{ 'Products' | translate }}
        </a> -->
        <div class="header-fields">
            <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown dropdown-menu-right" ngbDropdown>
                    <a href="javascript:void(0)" class="list-group-item" ngbDropdownToggle >
                        <img class="img-responsive  " src="assets/images/account@2x.png" alt="app-logo" height="20px" width="20px">&nbsp;{{fullName}}
                    </a>
                    <div class="dropdown-menu" ngbDropdownMenu>
                        <a class="dropdown-item" href="javascript:void(0)">
                            <i class="fa fa-fw fa-user"></i> Profile
                        </a>
                    
                        <a class="dropdown-item" href="javascript:void(0)">
                            <i class="fa fa-fw fa-gear"></i> Settings
                        </a>
                        <a class="dropdown-item" [routerLink]="['/login']" (click)="onLoggedout()">
                            <i class="fa fa-fw fa-power-off"></i> Log Out
                        </a>
                    </div>
                </li>
            </ul>
            </div>
    </div>
</nav>