<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6">
          <h2 class="text-left">Album Overview</h2>
        </div>
        <div class="col-md-6">
          <h3 class="text-right">Add New Album&nbsp;<i class="fa fa-plus-circle"></i></h3>
        </div>
      </div>
    </div>
  </div>

  <ul>
    <li *ngFor="let album of _albumsArray">
      {{ album.albumId }}
      {{ album.name }}
      <img src='{{ album.defaultImageUrl }}'>
    </li>
  </ul>
</div>