<h2 class="example-h2">Checkbox configuration</h2>

<section class="example-section">
  <mat-checkbox class="example-margin">Checked</mat-checkbox>
  <mat-checkbox class="example-margin">Indeterminate</mat-checkbox>
</section>


<button mat-button [matMenuTriggerFor]="animals">Animal index</button>

<mat-menu #animals="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="vertebrates">Regions</button>
  <button mat-menu-item [matMenuTriggerFor]="invertebrates">Albums</button>
</mat-menu>

<mat-menu #vertebrates="matMenu">
  <button mat-menu-item>Region 1</button>
  <button mat-menu-item>Region 2</button>
  <button mat-menu-item>Region 3</button>
</mat-menu>

<mat-menu #invertebrates="matMenu">
  <button mat-menu-item>Album 1</button>
  <button mat-menu-item>Album 2</button>
  <button mat-menu-item>Album 3</button>
</mat-menu>