.submit-button ,.cancel-button{
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.submit-button
{
    background-color:#4A90E2;
}
.cancel-button
{
    background-color: #D8D8D8
}
.row{
    padding-bottom: 40px;
}